body { padding-top: 50px; }

.post{
    margin-bottom:10px;
    float:left;
}
.post div{
    float:left;
    width:100%;

}

.post div h3{
    margin-top: 0;
}

.post div p{
    max-width:900px;
}

.post-thumb{
    float:left;
    padding:2px;
    border:1px solid grey;
    margin-right:10px;
    min-width: 160px;
}

#map{height:528px; width:100%;}

table form { margin-bottom: 0; }
form ul { margin-left: 0; list-style: none; }
.error { color: red; font-style: italic; }

.form-horizontal .input-group{
    margin-bottom: 10px;
}

.bs-callout-info {
    background-color: #2F2F2F;
    border-color: #5BC0DE;
    padding: 20px;
    color: #FFFFFF;

}
